body{
	margin: 0;
	color: #3F3F3F;
	font-size: 11pt;
	font-family: Arial,Helvetica,sans-serif;
	overflow: hidden;
	background: #f9f5de url(media/background.png) no-repeat fixed top left;
}
a{
	color: #3F3F3F;
	text-decoration: none;
}
a:hover{
	/*color: #ffffff;	*/
}

#hiddenForm{
	display: none;
}

.overlay{
	position: absolute;
	margin: 0;
	background: transparent url(media/pix_overlay.png) repeat fixed top left;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#bulleMsg, #bulleMedia{
	margin: 0 auto 0;
	/*width: 830px;*/
	width: auto;
	padding: 0;
	position: absolute;
}


#menu {
	position: fixed;
	padding: 0;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background: transparent url("media/intitule.png") no-repeat fixed left bottom;
}

#wrapper {
	margin: 0;
}

#containerMsg{
	margin-left: 395px;
	margin-right: 25px;
	margin-top: 25px;
	list-style-type: none;
	padding-left: 0;
	padding-right: 20px;
	z-index: 2;
	position: fixed;
}




.msg, .msgNew, .msgOK, .msgNO {
	margin-bottom: 16px;
	padding: 10px;
	/*border: 2px solid #1dafc7;*/
	background-color: #ffffff;
	line-height: 20px;
	font-size: 18px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	width: 100%;
	display: inline-block;
}

/*.msgNew {
	border: 1px solid #FFFFFF;
}*/

.msgNO {
	display: none;
}

/*.staticClose, .staticOpen, .animClose, .animOpen {
	margin-bottom: 16px;
	padding: 10px;
	background-color: #fefefe;
	line-height: 20px;
	font-size: 16px;
	box-shadow: 0 0 4px rgba(100, 100, 100, 1);
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
	-moz-border-radius: 6px;
}*/

#splash, #viewer {
	font-size:28px;
	line-height:38px;
	padding:16px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	border-radius: 6px;
	background-color: #fff;
}

/*.staticClose, .animOpen {
	display: none;
}*/


.author{
	color: #fff;
	background-color: #e94f1d;
	font-weight: bold;
	padding: 2px 4px;
}
	#splash .author {
		padding: 4px 8px;
	}

li .textMsg{
	/*font-weight: bold;*/
	line-height: 24px;
}
.time, .debug {
	color: #a09e89;
	/*font-weight: bold;*/
	font-style: italic;
}

.avatar {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 8px;
}
.avatarbig {
	max-height: 150px;
	max-width: 150px;
	float: left;
	margin-right: 16px;
}