body{
	margin: 0;
	color: #1a1a1a;
	font-size: 11pt;
	font-family: Arial,Helvetica,sans-serif;
	overflow: hidden;
	/*background: #1a1a1a url(media/background.png) no-repeat fixed 50px 50px;*/
	background-color: #1a1a1a;
}

a{
	color: #3F3F3F;
	text-decoration: none;
}

#infos {
	/*
	list-style: none outside none;
	position: fixed;
	display: block;
	margin-top: 15px;
	margin-left: 400px;
	color: #1A1A1A;
	*/
	color: rgb(26, 26, 26);
	display: block;
	left: 50%;
	list-style: none outside none;
	margin-left: -350px;
	margin-top: 15px;
	position: fixed;
	width: 700px;
}

#infos li {
	margin-bottom: 6px;
	line-height: 25px;
}

#infos div {
	display: inline;
}

#infos .highlight {
	background-color: #6C8FFF;
	font-weight: bold;
	font-size: 22px;
	padding: 2px;
}

#infos .line {
	background-color: #FFFFFF;
	font-size: 22px;
	padding: 2px;
}

#footer {
	color: #777;
	position: absolute;
	bottom: 0;
	/*width: 400px;*/
	text-align: center;
	font-size: 13px;
}

#hashtag, #phone {
	background-color: #1A1A1A;
	color: #6C8FFF;
	padding: 0 4px;
}

.overlay{
	position: absolute;
	margin: 0;
	background: transparent url(media/pix_overlay.png) repeat fixed top left;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#bulleMsg, #bulleMedia{
	margin: 0 auto 0;
	width: 830px;
	padding: 20px;
	position: absolute;
	border-radius: 16px;
}

#bulleMedia {
	box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	background-color: #fff;
	background-color: rgba(200,200,200,0.8);
}

#splash {
	font-size:28px;
	line-height:38px;
	padding:16px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	background-color: #fff;
}

#wrapper {
	margin: 0;
}

/*
#containerMsg{
	margin-top: 133px;
	margin-left: 400px;
	margin-right: 50px;
	min-width: 500px;
	list-style-type: none;
	padding-left: 0;
	z-index: 2;
	position: fixed;
}
*/
#containerMsg {
    left: 50%;
    list-style-type: none;
    margin-left: -350px;
    margin-right: 50px;
    margin-top: 133px;
    padding-left: 0;
    position: fixed;
    width: 700px;
    z-index: 2;
}

.msg, .msgNew, .msgOK, .msgNO {
	margin-bottom: 16px;
	padding: 10px;
	background-color: #ffffff;
	line-height: 20px;
	font-size: 18px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1);
	border-radius: 6px;
	-moz-border-radius: 6px;
	display: block;
}

.msgNO {
	display: none;
}


.author{
	color: #6C8FFF;
	background-color: #1a1a1a;
	font-weight: bold;
	padding: 2px 4px;
}

#splash .author {
	padding: 4px 8px;
}

li .textMsg{
	line-height: 24px;
}

.time, .debug {
	color: #a09e89;
	font-style: italic;
}

.avatar {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 8px;
}

.avatarbig {
	height: 65px;
	width: 65px;
	float: left;
	margin-right: 16px;
}

